<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
{% if avatars %}
	<table>
		<tr>
			<th class="title" colspan="5">Avatars</th>
		</tr>
		<tr>
			<th>Name</th>
			<th>Owner</th>
			<th>Description</th>
			<th>Year Made</th>
			<th>Location</th>
		</tr>
	{% for avatar in avatars %}
		<tr>
			<td><a href="{{ url_for('.single_avatar',avatar_id=avatar.id)}}">{{ avatar.name }}</a></td>
			<td><a href="{{ url_for('.userpage',userid=avatar.owner)}}">{{ avatar.owner_name() }}</a></td>
			<td>{{ avatar.description }}</td>
			<td>{{ avatar.age_turn }}</td>
			<td><a href="{{url_for('.single_location',location_id=avatar.return_location().id)}}">{{ avatar.return_location().coords() }}</a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p> No avatars in this world. </p>
{% endif %}
</section>
</div>
<div id="right_pane_wrapper">
<section id="right_pane">
{% if active_world.players.count() > 0 %}
	
{% else %}
	<p>You need to have players! </p>
{% endif %}
</section>
</div>
{% endblock %}