<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
<form action="" method="post" name="avatar">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<th class="title" colspan="4">Create Avatar ( {{ cost }} points )</th>
			</tr>
			
				{% for error in form.name.errors %}
                <tr>
                    <td><span style="color: red;">Name: [{{ error }}]</span></td>
                </tr>
				{% endfor %}
				{% for error in form.description.errors %}
				<tr>
                    <td><span style="color: red;">Description: [{{ error }}]</span></td>
                </tr>
				{% endfor %}
				{% for error in form.god.errors %}
				<tr>
                    <td><span style="color: red;">Maker: [{{ error }}]</span></td>
                </tr>
				{% endfor %}	
			<tr>
				<td>Name:</td>
				<td>{{ form.name(size=15, maxlength=140) }}</td>
				<td>Description:</td>
				<td>{{ form.description(size=20, maxlength=140) }}</td>
            </tr>
            <tr>
				<td>Creator:</td>
				<td>{{ form.god }}</td>
			</tr>
			<tr>
				<th class="sub_title" colspan="4"><input type="submit" value="Create Avatar!"></th>
			</tr>
		</table>
	</form>
</section>
</div>
<div id="right_pane_wrapper">
<section id="right_pane">
<table class="map">
    <tr>
        <th class="map">X/Y</th>
        {% for letter in letters %}
            <th class="map">{{letter}}</th>
        {% endfor %}
    </tr>
    {% for row in locations|batch(r) %}
    <tr>
        <th class="map">{{row[0]}}</th>
        {% for location in row[1:] %}
                           
            {% if location == False %}
                <td class="map">X</td>
            {% else %}
                <td class="map">
            
        <a href="{{ url_for('.single_location',location_id=location.id) }}">
        {% if location.race_color %}
        <div class="map" style="box-shadow: inset 0 0 0 2px  {{ location.race_color }}">
        {% else %}
        <div class="map">
        {% endif %}
            <img class="map_terrain" src="{{ url_for('static', filename='images/' + location.image) }}" />
        {% if location.has_city %}
            <img class="map_obj" src="{{ url_for('static', filename='images/city_transparent.png') }}" alt="Oh hey a city"/>
        {% endif %}
        </div></a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {%endfor%}
</table>
</section>
</div>
{% endblock %}