<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}

<p>Making a race is a serious undertaking, creating a race of sophonts to work your will upon the world. Take care, as others may influence them as well!</p>
<p>Culture: The name of the culture or specific peoples. Examples: French, Sudanese, Navajo.<br>
Race: The name of the species of people. Examples: Humans, Elves, Dwarves.<br>
Subrace: This race splintered off another race instead of being made entirely new. Examples: High Men --> Barbarian Men, High Elves --> Wood Elves, Wolves --> Dogs<br>
Religion: Every race as a cultural set of beliefs through which the Gods can motivate them. They do not have to be a religion by standard meaning, but the term remains the same. Examples: Christianity, Animism, Bhuddism.</p>
</p>
<form action="" method="post" name="makerace">
		{{ form.hidden_tag() }}
		<table border='1'>
			<tr>
				<th class="title" colspan="4">Create Race ( {{race_cost}} points ) | Create Subrace ( {{subrace_cost}} points )</th>
			</tr>
			
				{% for error in form.culture.errors %}
                <tr>
				<td>
				<span style="color: red;">Culture[{{ error }}]</span><br>
                </td>
                </tr>
				{% endfor %}
				{% for error in form.race.errors %}
                <tr>
				<td>
				<span style="color: red;">Race[{{ error }}]</span><br>
                </td>
                </tr>
				{% endfor %}             
				{% for error in form.subrace.errors %}
                <tr>
				<td>
				<span style="color: red;">Subrace[{{ error }}]</span><br>
                </td>
                </tr>
				{% endfor %}
                {% for error in form.religion.errors %}
                <tr>
				<td>
				<span style="color: red;">Religion[{{ error }}]</span><br>
                </td>
                </tr>
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Culture Name:</td>
				<td>{{ form.culture(size=15, maxlength=140) }}</td>
				<td>Race Name:</td>
				<td>{{ form.race(size=15, maxlength=140) }}</td>
            <tr>
            </tr>
				<td>Map Color:</td>
                <td><input id="color" name="color" type="color"></td>
				<td>Subrace:</td>
				<td>{{ form.subrace }}</td>
            </tr>
            <tr>
                <td>Religion:</td>
                <td>{{ form.religion }}</td>
				<td>Creator:</td>
                <td>{{ form.made_by }}</td>
			</tr>
			<tr>
				<th class="sub_title" colspan="4"><input type="submit" value="Create Race!"></th>
			</tr>
		</table>
	</form>
{% endblock %}