<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
<form action="" method="post" name="make_city">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<th class="title" colspan="4">Found City [ Costs {{ command_race_cost }} points ]</th>
			</tr>
			{% for error in form.name.errors %}
                <tr><td>
				<span style="color: red;">Name: [{{ error }}]</span><br>
                </td></tr>
            {% endfor %}
				
			
			<tr>
				<td>Name:</td>
				<td>{{ form.name(size=15, maxlength=140) }}</td>
            </tr>
            <tr>
				<td>Location:</td>
				<td>{{ coords }}</td>
				<td>Builders:</td>
				<td>{{ race.culture_name }}</td>
            </tr>
            <tr>
				<th class="sub_title" colspan="4"><input type="submit" value="Build City!"></th>
			</tr>
		</table>
	</form>
</section>
</div>
{% endblock %}