<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div class="map" id="left_pane_wrapper">
<section id="left_pane">
    <table class="map">
        <tr>
        {% for letter in letters %}
            <th class="map">{{letter}}</th>
        {%endfor%}
        </tr>  
    {% for row in locations|batch(size) %}
        <tr>
        <th class="map">{{ row[0].number_coord }}</th>
        {% for location in row %}
        <td class="map">
        <a href="{{ url_for('.single_location',location_id=location.id) }}">
            <img class="map_terrain" src="{{ url_for('static', filename='images/' + location.image) }}" />
            <img class="map_obj" src="{{ url_for('static', filename='images/transparent_test.png') }}"/>
            
        </a></td>
        
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</section>
</div>
{% endblock %}