<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
{% if orders %}
	<table>
		<tr>
			<th class="title" colspan="5">Orders in {{active_world.name}}</th>
		</tr>
		<tr>
			<th>Order Name</th>
			<th>Description</th>
			<th>Owner</th>
            <th>Type</th>
            <th>Total Locations</th>
		</tr>
	{% for order in orders %}
		<tr>
		<td><a href="{{ url_for('.single_order',order=order.id)}}">{{ order.name }}</a></td>
		<td>{{order.description}}</td> 
		<td><a href="{{url_for('.userpage',userid=order.owner)}}">{{User.query.get(order.owner).name}}</a></td>
        <td>{{ order.order_type() }}</td>
        <td>{{ order.locations.count() + order.cities.count() }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p> No Orders in this world. </p>
{% endif %}
</section>
</div>
{% endblock %}