<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
	{% if buildings %}
		<table>
            <tr>
                <th class="title" colspan="6">Provincial Construction in {{active_world.name}}</th>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Built By</th>
				<th>Controlled By</th>
				<th>Age Built</th>
			</tr>
			{% for building in buildings %}
                {% if building.is_alive %}
				<tr>
					<td><a href="{{ url_for('.single_provbldg',bldg=building.id)}}">{{building.name}}</a></td>
					<td>{{building.description}}</td>
					<td><a href="{{url_for('.single_location',location_id=building.location)}}">{{building.return_location().coords()}}</a></td>
					<td><a href="{{ url_for('.single_race',race=building.built_by)}}">{{building.builder_name()}}</a></td>
					<td><a href="{{ url_for('.single_race',race=building.owned_by)}}">{{building.owner_name()}}</a></td>
					<td>{{building.age_turn}}</td>
                {%endif%}
				</tr>
			{% endfor %}
		</table>
    </section>
    </div>
    <div id="right_pane_wrapper">
    <section id="right_pane">
        <table>
            <tr>
                <th class="title" colspan="6">Ruins</th>
            </tr>
            <tr>
                <th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Built By</th>
				<th>Age Built</th>
                <th>Destroyed In</th>
            </tr>
            {% for building in buildings %}
                {% if not building.is_alive %}
                    <tr>
                        <td><a href="{{ url_for('.single_provbldg',bldg=building.id)}}">{{building.name}}</a></td>
                        <td>{{building.description}}</td>
                        <td><a href="{{url_for('.single_location',location_id=building.location)}}">{{building.return_location().coords()}}</a></td>
                        <td><a href="{{ url_for('.single_race',race=building.built_by)}}">{{building.builder_name()}}</a></td>
                        <td>{{building.age_turn}}</td>
                        <td>{{building.destroyed_in}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
                    
                
	{% else %}
		<p> There are no Provincial Buildings in this world.</p>
	{% endif %}
</section>
</div>
{% endblock %}