<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
	{% if city %}
		<table>
            {% if city.is_alive %}
			<tr>
                <th class="title" colspan="6">{{city.name}}</th>
			</tr>
			<tr>
                <th>Location</th>
                <th>Builders</th>
                <th>Owners</th>
                <th>Alignment</th>
                <th>Built In</th>
			</tr>
			<tr>
                <td><a href="{{ url_for('.single_location',location_id=city.location) }}">{{ city.return_location().coords() }}</a></td>
				<td><a href="{{ url_for('.single_race',race=city.built_by) }}">{{ city.builder_name() }}</a></td> 
				<td><a href="{{ url_for('.single_race',race=city.owned_by) }}">{{ city.owner_name() }}</a></td>
				<td>{{city.alignment}}</td>
				<td>{{city.age_turn}}</td>
			</tr>
            {% else %}
            <tr>
                <th class="title" colspan="6">The Ruins of {{city.name}}</th>
			</tr>
			<tr>
                <th>Location</th>
                <th>Builders</th>
                <th>Alignment</th>
                <th>Built In</th>
                <th>Destroyed In</th>
			</tr>
			<tr>
                <td><a href="{{ url_for('.single_location',location_id=city.location) }}">{{ city.return_location().coords() }}</a></td>
				<td><a href="{{ url_for('.single_race',race=city.built_by) }}">{{ city.builder_name() }}</a></td> 
				<td>{{city.alignment}}</td>
				<td>{{city.age_turn}}</td>
                <td>{{ city.destroyed_in }}</td>
			</tr>
            {% endif %}

            {% if city.is_alive %}
            {% if current_user.id == player_owner or current_user.id == world_owner %}
            <tr>
                <form action="" method="post" name="new_owner">
			{{ new_owner.hidden_tag() }}
				{% for error in new_owner.new_owner.error %}
				<tr>
					<td><span style="color: red;">Location:[{{ error }}]</span></td>
				</tr>
				{% endfor %}
			</tr>
			<tr>
				<td>New Owner:</td>
				<td>{{new_owner.new_owner}}</td>
				<td><input type="submit" value="Change Ownership"></td>
			</tr>
			</form>
            <tr>
            {% endif %}
            {% if current_user.id == world_owner %}
            <form action="" method="post" name="destroy">
			{{ destroy.hidden_tag() }}
				{% for error in destroy.destroy.error %}
				<tr>
					<td><span style="color: red;">Location:[{{ error }}]</span></td>
				</tr>
				{% endfor %}
			</tr>
			<tr>
				<td>Destroy Confirm:</td>
				<td>{{destroy.destroy}}</td>
				<td><input type="submit" value="DESTROY"></td>
            </tr>
            </form>
            {% endif %}
            {% endif %}
		</table>
	{% else %}
		<p> {{ redirect(url_for('.cities_page')) }} </p>
	{% endif %}
	<table>
        <tr>
            <th class="title" colspan="5">Advances Present</th>
        </tr>
        {% if advances %}
            {% for row in advances|batch(5) %}
            <tr>
                {% for advance in row %}
                    <td>{{advance.text}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>None</td>
            </tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <th class="title" colspan="5">Orders Present</th>
        </tr>
        {% if city.orders.all() %}
            {% for row in city.orders.all()|batch(5) %}
                <tr>
                {% for order in row %}
                    <td><a href="{{ url_for('.single_order',order=order.order_id)}}">{{order.return_order().name}}</a></td>
                {% endfor %}
                </tr>
            {%endfor%}
        {% else %}
        <tr>
            <td>No Orders Present</td>
        </tr>
        {% endif %}
        </table>
	<br>
    <table>
        <tr>
            <th class="title" colspan="3">Buildings Built Here</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Year Built</th>
            <th>Description</th>
        </tr>
    {% if buildings %}
        {% for building in buildings %}
            <tr>
                <td>{{building.name}}</td>
                <td>{{building.age_turn}}</td>
                <td>{{building.desc}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">None</td>
        </tr>
    {% endif %}
    </table>
    <table>
        <tr>
            <th class="title" colspan="4">Armies Raised Here</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Location</th>
        </tr>
        {% if armies %}
            {% for army in armies %}
            <tr>
                <td><a href="{{ url_for('.single_army',armyid=army.id)}}">{{ army.name }}</a></td>
                <td>{{ army.army_navy() }}</td>
                <td><a href="{{url_for('.userpage',userid=army.owner)}}">{{ army.owner_name() }}</a></td>
                <td><a href="{{ url_for('.single_location',location_id=army.location)}}">{{ army.return_location().coords() }}</a></td>
            </tr>
            {% endfor%}
        {% else %}
            <tr>
                <td colspan="4">None</td>
            </tr>
        {% endif %}
    </table>
</section>
</div>
<div id="right_pane_wrapper">
<section id="right_pane">
    {% if city.is_alive %}
    <table>
        {% if not race_check %}
        <tr>
            <th class="title"></th>
       
        <form action="{{url_for('.resettle_city',cityid=city.id)}}" method="post" name="resettle"><td><input type="submit" value="Resettle"></td>
        {% endif %}
        {% if not at_max_advance %}
        <tr>
            <th class="title" colspan="3">Add Advance ( Point Cost: {{ advance_cost }} )</th>
        </tr>
        <form action="" method="post" name="advances">
        {{ advance_form.hidden_tag() }}
        <tr><th>Add Advance:</th><td>{{advance_form.text}}</td><td><input type="submit" value="Add"></td></tr>
        </form>
        {% endif %}
        {% if current_user.id == world_owner %}
        <tr>
            <th class="title" colspan="3">World_Owner: Remove Advance</th>
        </tr>
        <form action="" method="post" name="removeadvance">
        {{ advance_remove.hidden_tag() }}
         <tr><th>Remove Advance:</th><td>{{advance_remove.support}}</td><td><input type="submit" value="Remode"></td></tr>
        </form>
        {% endif %}
        </table>
        {% if current_user.id == player_owner or current_user.id == world_owner %}
        <table border="1">
        <form action="" method="post" name="buildings">
        {{ form.hidden_tag() }}
            <tr>
                <th class="title" colspan="2">Construct Buildings ( Poinst Cost: {{ command_city_cost }} )</th>
            </tr>
                {% for error in form.name.errors %}
                <tr>
                    <td>
                        <span style="color: red;">Name: [{{ error }}]</span>
                    </td>
                </tr>
                {% endfor %}
                {% for error in form.description.errors %}
                <tr>
                    <td>
                        <span style="color: red;">Builders:[{{ error }}]</span>
                    </td>
                </tr>
                {% endfor %}
                
            <tr>
                <td>Name:</td>
                <td>{{ form.name(size=15, maxlength=140) }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ form.description(size=20, maxlength=140) }}</td>
            </tr>
            <tr>
                <th class="sub_title" colspan="2"><input type="submit" value="Post!"></th>
            </tr>
            </form>
        </table>
        {% endif %}
        {% if current_user.id == player_owner or current_user.id == world_owner %}
        <table border="1">
        <form action="" method="post" name="armies">
        {{ army_form.hidden_tag() }}
            <tr>
                <th class="title" colspan="4">Build an Army ( Points Cost: {{command_city_cost}} )</th>
            </tr>
            
                {% for error in army_form.name.errors %}
                <tr>
                    <td>
                        <span style="color: red;">Name: [{{ error }}]</span></td></tr>
                {% endfor %}
                {% for error in army_form.army.errors %}
                <tr>
                    <td>
                        <span style="color: red;">Builders:[{{ error }}]</span></td></tr>
                {% endfor %}
            <tr>
                <td>Name:</td>
                <td>{{ army_form.name(size=15, maxlength=140) }}</td>
                <td>Army or Navy</td>
                <td>{{ army_form.army }}</td>
            </tr>
            <tr>
                <th class="sub_title" colspan="4"><input type="submit" value="Raise Army"></th>
            </tr>
        </form>
        </table>
        {% endif %}
		
    {% endif %}
    {% if history %}
        <br>
        <table>
            <tr>
                <th class="title" colspan="2">History of {{city.name}}</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Event</th>
            </tr>
        {% for each in history.items %}
            <tr>
                <td>{{each.age_turn}}</td>
                <td>{{each.entry}}</td>
            </tr>
        {% endfor %}
            <tr>
                <th class="sub_title" colspan="2">{% if history.has_prev %}<a href="{{ url_for('.single_city', cityid=city.id, page=history.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %}    |
                {% if history.has_next %}<a href="{{ url_for('.single_city', cityid=city.id, page=history.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}</th>
            </tr>
        </table>
    {% endif %}
</section>
</div>
{% endblock %}