<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
{% if avatar %}
	<table>
		<tr>
			<th class="title" colspan="5">The Avatar {{avatar.name}}</th>
		</tr>
		<tr>
			<th>Owner</th>
			<th>Description</th>
			<th>Year Made</th>
			<th>Location</th>
            <th>Movement Range</th>
		</tr>
		<tr>
			<td><a href="{{url_for('.userpage',userid=avatar.owner)}}">{{ avatar.owner_name() }}</a></td>
			<td>{{ avatar.description }}</td>
			<td>{{ avatar.age_turn }}</td>
			<td><a href="{{url_for('.single_location',location_id=avatar.location)}}">{{ avatar.return_location().coords() }}</a></td>
            <td>{{ avatar.movement_range }}</td>
		</tr>
	</table>
</section>
</div>
<div id="right_pane_wrapper">
<section id="right_pane">
    {% if current_user.id == avatar.god or current_user.id == active_world.owner %}
	<table>
        <tr>
            <th class="title" colspan="3">Avatar Controls</th>
        </tr>
			</form>
            {% if current_user.id == active_world.owner %}
			<form action="" method="post" name="destroy">
			{{ destroyform.hidden_tag() }}
				{% for error in destroyform.destroy.error %}
				<tr>
					<td><span style="color: red;">Location:[{{ error }}]</span></td>
				</tr>
				{% endfor %}
			</tr>
			<tr>
				<td>Destroy Confirm:</td>
				<td>{{destroyform.destroy}}</td>
				<td><input type="submit" value="DESTROY"></td>
            </form>
            {% endif %}
		</table>
        <table>
            <form action="" method="post" name="command">
            {{ command_avatar.hidden_tag() }}
            <tr>
            <th colspan=2>"Command Avatar: Costs {{ command_cost }} Points</th>
            </tr>
            <tr>
            <td>{{ command_avatar.command_list }}</td><td>{{ command_avatar.submit }}</td>
            </tr>
            </form>
            </table>
        {% endif %}
{% else %}
	<p> No avatars in this world. </p>
{% endif %}
<table class="map">
    <tr>
        <th class="map">X/Y</th>
        {% for letter in letters %}
            <th class="map">{{letter}}</th>
        {% endfor %}
    </tr>
    {% for row in locations|batch(r) %}
    <tr>
        <th class="map">{{row[0]}}</th>
        {% for location in row[1:] %}
                           
            {% if location == False %}
                <td class="map">X</td>
            {% else %}
                <td class="map">
            
        <a href="{{ url_for('.single_location',location_id=location.id) }}">
        {% if location.race_color %}
        <div class="map" style="box-shadow: inset 0 0 0 2px  {{ location.race_color }}">
        {% else %}
        <div class="map">
        {% endif %}
            <img class="map_terrain" src="{{ url_for('static', filename='images/' + location.image) }}" />
        {% if location.has_city %}
            <img class="map_obj" src="{{ url_for('static', filename='images/city_transparent.png') }}" alt="Oh hey a city"/>
        {% endif %}
        </div></a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {%endfor%}
</table>
</section>
</div>
{% endblock %}