{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Furry Yellow Pages - {{ group.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ group.username }} - Browse members by specific media
    </h1>
       
        <p>
        </p>
    </div>
    <p>
    {{ wtf.quick_form(form) }}
    </p>
    <hr>
    <p>
        {% include '_users.html' %}
               
        </p>
</div>

{% endblock %}