{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Furry Yellow Pages - {{ group.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ group.username }}
        {% if current_user.can(Permission.FOLLOW) %}
        {% if current_user.is_following_group(group) %}
         <a class="btn btn-default" href="{{ url_for('.unfollow_group',groupname=group.username) }}">Leave Group</a>
         {% else %}
         <a class="btn btn-default" href="{{ url_for('.follow_group',groupname=group.username) }}">Join Group</a>
         {% endif %}
        {% endif %}
    </h1>
        {% if group.location %}
        <p>
            
                Group location info goes here
        </p>
        {% endif %}

        {% if group.about_me %}
        <p>{{ group.about_me }}</p>{% endif %}

        
        <p>
            <a class="btn btn-default" href="{{ url_for('.browse_group',groupname=group.username) }}">Browse Members by Media </a>
            {% if current_user.id == group.owner_id %}
            <a class="btn btn-default" href="{{ url_for('.edit_group',groupname=group.username) }}">Edit Group </a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_group_admin',groupname=group.username) }}">Edit Group [Admin]</a>
            {% endif %}
        </p>
    </div>
    <p>
        {% include '_users.html' %}
               
        </p>
</div>

{% endblock %}