<!-- extend base layout -->
{% extends "/base.html" %}
{% block page_content %}
<div id="left_pane_wrapper">
<section id="left_pane">
	{% if players %}
		<table border="1">
            <tr>
                <th class="title" colspan="2">User List</th>
            </tr>
			{% for row in players|batch(6) %}
				<tr>
                    {% for player in row %}
					<td><a href="{{ url_for('.user',username=player.username) }}">
                        {{player.username}}
                        </a></td>
                        {% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</section>
</div>
<div id="right_pane_wrapper">
<section id="right_pane">
</section>
</div>
{% endblock %}