.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
body {
    margin: 0;
    padding: 0;

    font-size: 90%;
}
nav {
    text-align: center;
    padding: 0.25em;
    background: #999;
    border-bottom: 2px solid #555;
}
nav a {
    color: #000;
    background: #ddd;
    padding: 2px 6px;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}
nav a:hover {
    background: #bbb;
}

#left_pane, #right_pane { padding: 1em; }
#left_pane_wrapper { float: left; width: 60%; }
#right_pane_wrapper { float: right; width: 40%; }

table {
    margin-bottom: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 1px 1px #999;
}
table.map{
    margin-bottom: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 25%;
    box-shadow: 0px 0px 0px #999;
}
td.map{
    margin: 0;
    padding: 0px 0px;
}
th,td {
    margin: 0;
    padding: 4px 6px;
    
}
th {
    color: #444;
    background: #eee;
    text-align: left;
    font-weight: normal;
    padding: 2px 6px;
    font-size: 80%;
}
th.title {
    background: #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}
th.sub_title {
    background: #eee;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}
td.nav2 {
    text-align: center;
    padding: 0.25em;
}
td.nav2 a {
    color: #000;
    background: #ddd;
    padding: 2px 6px;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}
td.nav2 a:hover {
    background: #bbb;
}
img.map_terrain {
    position: absolute;
    z-index: -1;
}

img.map_obj {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
}
div.map {
    width: 25px; 
    height: 25px; 
    box-shadow: inset 1px 1px rgba(0,0,0,0);
}
div.map:hover { box-shadow: inset 0 0 2px 1px #FFFFFF }
